

.nsx:hover{
    border-bottom: 1px dashed;
    border-radius: 50%;
}
.nlx:hover{
    border-bottom: 1px dashed;
    border-radius: 50%;
}
.ndl:hover{
    border-bottom: 1px dashed;
    border-radius: 50%;
}
.nzc:hover{
    border-bottom: 1px dashed;
    border-radius: 50%;
}