.img1{
     width:150px;
     height:80px;
     line-height: 80px;
 }
.p1{
    padding-top:50px;
    font-size: 1em;
    /*background: red;*/
    font-family:"Microsoft YaHei UI Light";
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration:none !important;
}

.back{
    background-image: url("../image/000fivr7.jpg");
    /*width:100%;*/
    height:500px;
    margin:30px -15px;
    /*background:red;*/
    /*background-size: cover;*/
    /*box-sizing:content-box ;*/


}

.section{
    width:340px;
    height: 350px;
    margin-top:50px ;
    /*border: solid 1px grey;*/
    /*border-left:dashed 1px #959595;*/
    background:white;
    box-shadow: 0px 0px 50px grey;
    padding-top: 15px;
}

.seperator{
    width: 240px;
    height: 1px;
    border-bottom: solid 1px #c8c8c8;

}
.seperator1{
    width: 100px;
    height: 1px;
    border-bottom: solid 2px #00dd81;

}
.section .main table{
    width: 100%;
    height: 285px;
    border: none;
}

.section .main table .col-1{
    width: 40px;
    text-align: right;
    font-size: 1em;
    color: #b4b4b4;
    padding-right: 20px;
}
.section .main table .col-2{
     width: 240px;
     color: #00dd81;
     font-size: 1.2em;
     font-weight: 900;
 }
.section .main table .col-2 li{
    /*height:40px;*/
    margin-top: 10px;
    list-style: none;
    box-sizing: content-box;
    /*border-bottom: solid 1px #00dd81;*/
}
.section .main table form:first-child{
    border-bottom: solid 1px #c8c8c8;
}
.section .main table:nth-child(2){

}
.section .main table .text{
    width: 240px;
    height: 40px;
    border-radius: 3px;
    border: solid 1px #c8c8c8;
    outline: none;

}

.section .main table .btn-regist{
    width: 240px;
    height: 40px;
    /*border: solid 1px #c8c8c8;*/
    border:none;
    outline: none;
    background: rgba(255, 0, 0, 0.7);
    font-size: 1.5em;
    color: white;
    border-radius: 3px;
}
.section .main table div[id$='error']{
    color: red;
    font-size: 0.7em;
    height: 0.7em;

}
#txt_check{
    width:12px;
    height:12px;
}

.txt{
    font-size: 0.8em;
    font-family: "Microsoft YaHei";
}
input::-webkit-input-placeholder { /* WebKit browsers */
     color:#c8c8c8;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#c8c8c8;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#c8c8c8;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #c8c8c8;
}
/*.login_icon{*/
    /*width:240px;*/
    /*height:40px;*/
    /*!*background:grey;*!*/
    /*!*margin-top: 40px;*!*/
/*}*/
/*.ul{*/
    /*list-style: none;*/
/*}*/
/*.ul li{*/
    /*float:left;*/
/*}*/
